<!-- Header -->
<div class="header-banner">
    <div class="header-banner__conenedor">
        <h1 class="header-banner__titulo"><%= titleBanner %></h1>
        <h2 class="header-banner__p">El barón de la cerveza</h2>
    </div>
</div>
 <!-- /header -->

