<!-- Header -->
<div class="header-banner">
    <div class="header-banner__conenedor">
        <h1 class="header-banner__titulo wow animate__animated animate__zoomIn animate__delay-0.5s"><%= titleBanner %></h1>
        <h2 class="header-banner__p wow animate__animated animate__zoomIn animate__delay-1s">El barón de la cerveza</h2>
    </div>
</div>
 <!-- /header -->

