<!-- Header -->
    <header class="products">
        </div>
            <div class="title">
                <h1><%= titleBanner %> </h1>
            <h2>El barón de la cerveza</h2>
        </div>
    </header>
 <!-- /header -->