<section class="cards">
    <div class="card br flex wow animate__animated animate__bounceInUp animate__delay-0.5s">
        <p><i class="fas fa-truck"></i></p>	
        <strong>Enviamos tu compra</strong>
        <p>Envios a todo el pais</p>
    </div>
    <div class="card br flex wow animate__animated animate__bounceInUp animate__delay-0.8s">
        <p><i class="fas fa-credit-card"></i></p>
        <strong>Pagá como quieras</strong>
        <p>Tarjetas de crédito o efectivo</p>
    </div>
    <div class="card br flex wow animate__animated animate__bounceInUp animate__delay-1.2s">
        <p><i class="fas fa-shopping-bag"></i></p>
        <strong>Comprá con seguridad</strong>
        <p>Tus datos siempre estarán protegidos</p>
    </div>
</section>