<!-- Navbar Fixed -->
<nav class="navbar flex">
    <!-- Buscador oculto -->
        <div class="search" id="showSearch">
            <form>
                <div class="btn-search" onclick="showSearch()"><i class="fas fa-times"></i></div>
                <input type="text" placeholder="Buscar" id="showSearch">
                <button class="btn-search"><i class="fas fa-search"></i></button>
            </form>
        </div>
    <!-- /buscador oculto -->
        <div class="logo">
                <a href="/">
                <img src="/img/icons/icon-title2.png" class="logotipo" alt="El baron de la cerveza, logo">
                </a>
        </div>
    
        <div class="nav-items">
                <i class="fas fa-bars burguer" onclick="showMenu()"></i>
                <ul id="menu">
                    <button class="close" onclick="showMenu()"><i class="fas fa-times"></i></button>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Productos</a></li>
                    <li><a href="/about">Acerca de</a></li>
                    <li><a href="/contact">Contacto</a></li>
    
                    <!-- Switch de modo oscuro -->
                    <button class="switch" id="switch" onclick="modoNocturno()">
                        <span><i class="fas fa-sun"></i></span>
                        <span><i class="fas fa-moon"></i></span>
                    </button>
    
                </ul>
        </div>
        <div class="icons">
    
                <button  class="user-config" onclick="showSearch()"><i class="fas fa-search"></i></button>
    
                <button class="user-config" onclick="showSubmenu()">
                    <span></span>
                    <i class="fas fa-user"></i>
                </button>
    
                <div class="shopping-cart" onclick="showCart()"><i class="fas fa-shopping-cart"></i>
                    <span><%= productCart.length %></span>
                </div>
                
                <!-- Mini menu desplegable  -->
                <div class="carrito-menu" id="carrito-menu">
                    <div class="cerrar-menu">
                        <i class="fas fa-times" onclick="showCart()"></i>
                    </div>
                    <div class="en-carrito">

                    <% if(productCart.length > 0) { %>
                        <% productCart.forEach(element => { %>
                            <div>
                                <div class="imagen-carrito">
                                    <img src="/img/productos/<%= element.imagen %>" class="producto-carrito">
                                </div>
                                <div class="detalles-producto-carrito">
                                    <b>$<%= element.precio %></b>
                                    <span><%= element.name %></span>
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <div>
                            <div class="detalles-producto-carrito">
                                <span>No hay productos en el carrito</span>
                            </div>
                        </div>
                    <% } %>

                    </div>
                    <div class="boton-carrito">
                        <a href="/products/productCart">Ir a carrito</a>
                    </div>
                </div>
                <!-- /Mini menu desplegable -->
        </div>
</nav>
<!-- /Navbar Fixed-->


<!-- Submenu -->
<nav class="sub-nav" id="subNave">
    <ul>
        <!-- En caso de que no este registrado -->
        <li><a href="/user/login">Ingresar</a></li>
    
        <!-- en caso de que ya este logeado -->
        <li><a href="/user">Settings</a></li>
        <li><a href="/admin">Administrador</a></li>
    </ul>
</nav>
<!-- /Submenu -->
    
       
<button>Administrador</button>