<div class="container-fluid">
	<div class="row">
	  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
		<div class="position-sticky pt-3">
		<ul class="nav flex-column">
			<li class="nav-item">
			<a class="nav-link active text-white" aria-current="page" href="/admin/index">
				<i class="fas fa-user"></i>
				Administrador
			</a>
			</li>
			<li class="nav-item">
			<a class="nav-link text-white" href="/admin/products">
				<i class="fas fa-folder"></i>
				Productos
			</a>
			</li>
			<li class="nav-item">
			<a class="nav-link text-white" href="/admin/products/create">
				<i class="fas fa-upload"></i>
				Subir productos
			</a>
			</li>
			
			<li class="nav-item d-nonde">
				<a class="nav-link text-white" href="/admin/category/create">
					<i class="fas fa-upload"></i>
					Agregar Categoria
				</a>
				</li>
			<li class="nav-item">
			<a class="nav-link text-white" href="/admin/users">
				<i class="fas fa-users"></i>
				Usuarios
			</a>
			</li>
		</ul>
		</div>
	</nav>
