<section class="sidebar">
	<div class="button-toggle">
		<button class="btn" onclick="showSidebar()"><i class="fas fa-hamburger"></i></button>
	</div>
	<div class="sidebar-items" id="sidebar">
		<ul>
			<li><a class="text-white text-decoration-none" href="/admin">Configuracion</a></li>
			<li><a class="text-white text-decoration-none" href="/adminProducts">Productos</a></li>
			<li><a class="text-white text-decoration-none" href="/addProduct">Subir productos</a></li>
			<li><a class="text-white text-decoration-none" href="/users">Usuarios Registrados</a></li>
		</ul>
	</div>
</section>