<div style="border-right: 1px solid #ccc;" class="bg-white" id="sidebar-wrapper">
	<div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><img src="/img/icons/icon.png" style="width: 30px; height: 30px;" class="me-2">El barón de la cerveza</div>
	<div class="list-group list-group-flush my-3">
		<a href="/admin/index" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-user-secret me-2"></i>Administrador
		</a>
		<a href="/admin/users" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-users me-2"></i>Usuarios
		</a>
		<a href="/admin/products" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-beer me-2"></i>Productos
		</a>
		<a href="/admin/products/create" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-upload me-2"></i>Subir productos
		</a>
		<a href="/admin/category/create" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-clipboard-list me-2"></i>Agregar categoria
		</a>
		<a href="/admin/brand/create" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-copyright me-2"></i>Agregar marca
		</a>
		<a href="/admin/banners/create" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-image me-2"></i>Agregar banner
		</a>
		<a href="/" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
				class="fas fa-power-off me-2"></i>Salir</a>
	</div>
</div>



<!-- <div class="container-fluid">
	<div class="row">
	  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
		<div class="position-sticky pt-3">
		<ul class="nav d-flex flex-column">
			<li class="nav-item bd-highlight">
			<a class="nav-link active text-white" aria-current="page" href="/admin/index">
				<i class="fas fa-user"></i>
				Administrador
			</a>
			</li>
			<li class="nav-item bd-highlight">
			<a class="nav-link text-white" href="/admin/products">
				<i class="fas fa-folder"></i>
				Productos
			</a>
			</li>
			<li class="nav-item bd-highlight">
			<a class="nav-link text-white" href="/admin/products/create">
				<i class="fas fa-upload"></i>
				Subir productos
			</a>
			</li>
			
			<li class="nav-item bd-highlight">
				<a class="nav-link text-white" href="/admin/category/create">
					<i class="fas fa-list"></i>
					Agregar Categoria
				</a>
			</li>
			
			<li class="nav-item bd-highlight">
				<a class="nav-link text-white" href="/admin/brand/create">
					<i class="fas fa-copyright"></i>
					Agregar Marca
				</a>
			</li>
			<li class="nav-item bd-highlight">
				<a class="nav-link text-white" href="/admin/banners/create">
					<i class="fas fa-flag"></i>
					Agregar Banner
				</a>
			</li>
			<li class="nav-item bd-highlight">
			<a class="nav-link text-white" href="/admin/users">
				<i class="fas fa-users"></i>
				Usuarios
			</a>
			</li>
		</ul>
		</div>
	</nav>
 -->