<div style="box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.6);
-webkit-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.6);" class="bg-white" id="sidebar-wrapper">
	<a href="/" style="text-decoration: none;">
	<div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
		<img src="/img/icons/icon.png" style="width: 30px; height: 30px;" class="me-2">
		El barón de la cerveza
	</div>
	</a>
	<div class="list-group list-group-flush my-3">
		<a href="/admin/index" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-user-secret me-2"></i>Administrador
		</a>
		<a href="/admin/users" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-users me-2"></i>Usuarios
		</a>
		<a href="/admin/products" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-beer me-2"></i>Productos
		</a>
		<a href="/admin/products/create" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-upload me-2"></i>Subir productos
		</a>
		<a href="/admin/category/create" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-clipboard-list me-2"></i>Agregar categoria
		</a>
		<a href="/admin/brand/create" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-copyright me-2"></i>Agregar marca
		</a>
		<a href="/admin/banners/create" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-image me-2"></i>Agregar banner
		</a>
		<a href="/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="far fa-hand-point-left me-2"></i>Volver a la página
		</a>
		<a href="/users/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
				class="fas fa-power-off me-2"></i>Cerrar sesión
		</a>
	</div>
</div>