@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
}
:root {
	--white: #E1EFE6;
	--orange: #F09D45;
	--darkorange: #B57129;
	--black: #161A25;
	--grey: #5A6175;
	--main: #2A2E39;
	--violet: #5343DC;

	--font-rowdies: 'Rowdies', cursive;
	--font-open: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	color: #000;
	font-family: var(--font-open)
}
li {
	list-style: none;
	font-family: var(--font-open);
}
h3 {
	font-size: 30px;
	font-family: var(--font-rowdies);
	font-weight: lighter;
}
h4 {
	font-size: 30px;
	font-family: var(--font-rowdies);
	font-weight: lighter;	
}
.br {
	border-radius: 5px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*********************************/
/*           NAV TOP             */
/*********************************/
nav.nav-top {
	width: 100%;
	background-color: #fff;
}
nav.nav-top ul {
	display: flex;
	justify-content: flex-end;
}
nav.nav-top ul li {
	padding: 8px 10px;
}
nav.nav-top ul li a {
	font-size: 12px;
}



/*********************************************/
/*                    QUERY                  */
/*********************************************/
@media screen and (min-width:365px){
/*********************************/
/*           NAV BAR             */
/*********************************/
nav.navbar {
	width: 100%;
	height: 60px;
	background-color: #fff;
	position: sticky;
	justify-content: space-around;
	top: 0;
	z-index: 5000;
	box-shadow: -2px 12px 18px -18px rgba(0,0,0,1);
	-webkit-box-shadow: -2px 12px 18px -18px rgba(0,0,0,1);
	-moz-box-shadow: -2px 12px 18px -18px rgba(0,0,0,1);
}
nav.navbar .logo img {
	width: 100px;
}
.nav__items ul {
	display: flex;
}
.nav__items ul li a {
	padding: 8px 10px;
}
.nav__items ul li a:hover {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
nav.navbar .icons a {
	padding: 8px 10px;
}

/*********************************/
/*           HEADER              */
/*********************************/
header {
	width: 100%;
	height: 70vh;
	position: relative;
	overflow: hidden; 
}
header .header_img {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}
header .title {
	flex-direction: column;
	position: relative;
}
header .title img {
	width: 300px;
}
header .title h2 {
	font-size: 80px;
	font-family: var(--font-rowdies);
	color: var(--white);
	font-weight: lighter;
	margin-top: -30px;
}
svg {
	position: absolute;
	bottom: 0;
}

/*********************************/
/*           Destacados          */
/*********************************/
#slider {
	position: relative;
}
.slider {
	width: 1440px;
	margin: 0 auto;
	padding: 50px 0;
}
.slider h3 {
	color: var(--black);
	border-bottom: 1px solid #ccc;
}
.slider__products {
	display: flex;
	gap: 10px;
}
.slider__products article {
	width: 20%;
	border: 2px solid #ccc;
}


/*********************************/
/*           MAIN               */
/*********************************/
main {
	position: relative;
	height: 100%;
	padding: 50px 0;
}
main .body{
	width: 1405px;
	margin: 0px auto;
	padding: 0px 20px 20px 0px;
	position: relative;
	display: flex;
}
main h3 {
	color: var(--black);
	width: 100%;
	border-bottom: 1px solid #ccc;
}
main .filter {
	position: absolute;
	right: 30px;
	padding: 8px;
	width: fit-content;
	-moz-width: fit-content;
}
main .categories {
	width: 20%;
	height: 100%;
	color: var(--black);
	margin-top: 80px;
	padding-left: 50px;
	padding-right: 50px;
}
main .categories strong {
	font-size: 20px;
	font-family: var(--font-open);
}
main .categories ul {
	margin-top: 10px;
} 
main .categories ul b {
	font-family: var(--font-open);
	margin-bottom: 20px;
}
main .categories ul li {
	margin-top: 12px;
}
main .categories ul li input {
	opacity: 0;
}
main .categories ul li input:checked ~ label{
	 background-color: var(--orange);
	 height: 10px;
}
main .categories ul li label {
	cursor: pointer;	
	padding: 5px 10px;
}
/*********Products*****************/
.products {
	display: flex;
	flex-wrap: wrap;
	gap: 13px;
	width: 80%;
}
article {
	background: #fff;
	width: 23%;
	padding: 4px;
	margin-top: 30px;
	border: 1px solid #ccc;
}
article .article__product {
	background-color: #ccc;
	height: 200px;
	width: 100%;
	margin-bottom: 20px;
}
article:hover {
	box-shadow: -2px 5px 30px -21px rgba(0,0,0,1);
-webkit-box-shadow: -2px 5px 30px -21px rgba(0,0,0,1);
-moz-box-shadow: -2px 5px 30px -21px rgba(0,0,0,1);
}
article .article__details {
	position: relative;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
article .article__details span {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
}
article .article__details p {
	font-size: 18px;
	margin-top: 10px;
	font-family: sans-serif;
	color: var(--orange);
}
article .article__details b {
	display: block;
	font-size: 13px;
	font-family: sans-serif;
	color: var(--grey);
	margin-bottom: 10px;
}
article .article__details button.btn-add {
	position: absolute;
	right: 0;
	top: -20px;
	color: green;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 12px 15px;
	cursor: pointer;
}

article .article__buttons {
	display: flex;
	justify-content: center;
	position: relative;

}
article .article__buttons button.btn-buy {
	background-color: #fff;
	border: none;
	padding: 12px 15px;
	color: #fff;
	background-color: var(--violet);
	cursor: pointer;
}

.btn__seemore {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
a.see-more {
	padding: 8px 15px;
	background: var(--darkorange);
	color: #fff;
}

/*********************************/
/*           CARDS              */
/*********************************/
section.cards__ {
	position: relative;
	padding: 50px 0;
}
.cards {
	display: flex;
	justify-content: space-around;
	width: 1440px;
	margin: 0 auto;
}
.cards .card {
	border: 1px solid var(--violet);
	padding: 20px 1px;
	width: 400px;
	height: 100px;
	flex-direction: column;
	text-align: center;
	color: var(--violet);
	font-family: var(--font-open);
}
.cards .card i {
	font-size: 30px;
	padding: 10px;
	color: #fff;
	border-radius: 50%;
	background: var(--violet);
}
.cards .card strong {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*********************************/
/*           BANNER              */
/*********************************/
.banner {
	position: relative;
	padding: 50px 0 50px 0;
}
.swiper-container {
	width: 1440px;
	height: 500px;
	margin: 0px auto;
}
.swiper-slide {
	width: 1440px;
	height: 500px;
}
.swiper-slide img {
	width: 1440px;
	height: 500px;
}


/*********************************/
/*           Footer              */
/*********************************/
footer {
	background: var(--darkorange);
	height: 600px;
}
footer .footer {
	margin: 0 auto;
	display: flex;
	height: 600px;
}
footer .footer__links {
	width: 50%;
}
footer .footer__links .footer__links-width {
	width: 60%;
	height: 100%;
	margin: 0 auto;
	align-content: center;
	flex-wrap: wrap;
}
footer .footer__links .footer__links-width h4 {
	font-size: 23px;
}
footer .footer__links .footer__links-width .line {
	height: 10px;
	width: 50%;
	background-color: #7d4e1c;
	margin-top: -10px;
	margin-bottom: 20px;
}
footer .footer__links .footer__links-width .footer__links-nav {
	width: 50%;
	height: 200px;
}
footer .footer__links .footer__links-width .footer__links-nav i {
	margin-right: 20px;
	color: var(--white);
}
footer .footer__links .footer__links-width .footer__links-nav a:hover {
	text-decoration: underline;
}

footer .footer__links .footer__links-width .footer__links-address {
	width: 50%;
	height: 200px;
}
footer .footer__links .footer__links-width .footer__links-address p {
	font-size: 18px;
}

footer .footer__links .footer__links-width .footer__links-redes {
	width: 50%;
	height: 200px;
	display: inline;
}
footer .footer__links .footer__links-width .footer__links-redes a {
	font-size: 22px;
	padding: 15px 15px;
	background: var(--darkorange);
	border-radius: 50%;
	color: var(--white);
}
footer .footer__links-pay {
	width: 50%;
	height: 200px;
}
footer .footer__links-pay img {
	width: 50px;
}


footer .footer__break {
	width: 50%;
	position: relative;
	overflow: hidden;
}
footer .footer__break img.footer__img {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
footer .footer__break .footer__logo {
	height: 200px;
	z-index: 5;
}

.footer__copy {
	background-color: var(--black);
	color: white;
	text-align: center;
	padding: 10px;
}

