<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Configuracion | EBDLC</title>
	<link rel="stylesheet" href="/css/register.css">
</head>
<body>
	<!-- Navbar Fixed -->
	<nav class="navbar flex">
		<div class="logo">
			<img src="img/icon-title2.png" class="logotipo" alt="El baron de la cerveza, logo">
		</div>
    	<div class="nav__items collapse" id="collapse">
			<a class="burguer" href="/productDetail"><i class="fas fa-bars"></i></a>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Productos</a></li>
				<li><a href="#">Acerca de</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
		<div class="icons">
			<a href="#"><i class="fas fa-search"></i></a>
			<a class="shopping-cart" href="#"><i class="fas fa-shopping-cart"></i>
				<span>1</span>
			</a>
		</div>
	</nav>
	<!-- /Navbar Fixed-->

	<!-- Submenu -->
	<nav class="sub-nav" id="subNave">
		<ul>
			<li><a href="#">Iniciar sesión</a></li>
			<li><a href="#"><i class="fas fa-user"></i>Registrarse</a></li>
		</ul>
		<div class="sub-nav__config">
			<button class="config" href="#" onclick="showSubmenu()">
				<span></span>
				<i class="fas fa-user"></i>
				<b>nombre usuario</b>
			</button>
		</div>
	</nav>
	<!-- /Submenu -->

	<!-- Header -->
	<header class="header">
		<img class="bg thumbnail-head" src="img/header.jpg" alt="Pedi tu cerveza y te la llevamos a tu casa">
		<div class="title">
			<h1>Pedi tu birra y te la llevamos a tu casa</h1>
			<h2>El Barón de la cerveza</h2>
		</div>
	</header>
	<!-- /header -->
	
</body>
</html>