/******************************************/
/*                navbar                  */
/******************************************/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	width: 100%;
	top: 0;
	background-color: #fff;
	z-index: 5000;
	border-bottom: 1px solid #ccc;
	padding: 10px 8px;
	flex-wrap: wrap;
	box-shadow: 0px 2px 5px 0px rgba(113,113,113,1);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(113,113,113,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(113,113,113,1);
}
.navbar .logo {
	order: 1;
}
.navbar .logo img {
	width: 100px;
}
.navbar .nav-items ul {
	display: none;
}
.navbar .nav-items ul li a {
	padding: 5px 8px;
	transition: .5s;
}

.navbar .nav-items ul li a:hover {
	background: var(--orange);
	color: #fff;
}
.navbar .icons {
	order: 2;
}
.navbar .icons a {
	padding: 5px;
}

.navbar .icons .shopping-cart {
	position: fixed;
	right: 20px;
	bottom: 70px;
	padding: 10px 12px;
	border-radius: 50%;
	background-color: var(--darkorange);
	color: #fff;
	z-index: 5000;
}
.navbar .icons .shopping-cart span {
	position: absolute;
	font-size: 13px;
	background-color: green;
	bottom: 0;
	height: 18px;
	width: 18px;
	text-align: center;
	border-radius: 50%;
}

.carrito-menu {
	position: absolute;
	top: 100px;
	right: -100%;
	background: #000;
	width: 130px;
	padding: 15px 12px 15px 10px;
	color: #fff;
	border-radius: 5px;
	transition: all .5s ease;
}
.carrito-menu.active {
	right: 0;
}
.carrito-menu .imagen-carrito {
	width: 100px;
	height: 140px;
	background: grey;
}
.carrito-menu  .detalles-producto-carrito b {
	display: block;
	color: var(--orange);
}
.carrito-menu  .detalles-producto-carrito span {
	font-family: var(--font-open);
	font-size: 13px;
}
.carrito-menu .boton-carrito {
	text-align: center;
	padding: 10px 0px;
}
.carrito-menu .boton-carrito a {
	background-color: var(--darkorange);
	color: #fff;
}

.user-config {
	padding: 5px 10px;
	font-size: 15px;
	border: none;
	background: none;
	position: relative;
	cursor: pointer;
	margin-left: 20px;
}
.user-config span {
	width: 10px;
	height: 10px;
	background: var(--orange);
	border-radius: 50%;
	position: absolute;
	left: 0;
	bottom: 0;
}
/******************************************/
/*                sub-nav                 */
/******************************************/
.sub-nav {
	position: fixed;
	width: 100%;
	top: 20px;
	transition: all .5s ease;
	z-index: 4000;
}
.sub-nav.active {
	top: 53px;
}
.sub-nav ul {
	display: flex;
	justify-content: flex-end;
	background: white;
	width: 100%;
	padding: 10px 0;
}
.sub-nav ul li a {
	font-size: 13px;
	padding: 5px 10px;
	font-weight: 700;
	color: var(--violet);
}
.sub-nav ul li a i {
	margin-right: 5px;
}

/******************************************/
/*                header                  */
/******************************************/
header {
	width: 100%;
	height: 70vh;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
header img.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}
header .title {
	z-index: 1;
	text-align: center;
	color: var(--white);
}
header .title h2 {
	margin-top: 30px;
	color: var(--orange);
}



@media screen and (min-width: 520px){
/*----------------- Query navbar --------------------*/
	.navbar {
		padding: 0px 20px;
		height: 62px;
	} 
	.navbar .logo {
		order: 0;
		width: 100%;
		text-align: center;
	}


/*----------------- Query header ---------------------*/
	header .title h1 {
		font-size: 40px;
		padding: 0 8px;
	}
}

@media screen and (min-width: 720px){
/*---------------- Query navbar --------------------------*/
	.navbar {
		align-items: center;
	}
	.navbar .logo {
		order: 0;
		width: 100px;
		text-align: center;
	}
	.navbar .nav-items .burguer {
		display: none;
	}
	.navbar .nav-items ul {
		display: flex;
		text-align: center;
		align-items: center;
	}
	.navbar .nav-items ul li a {
		margin-left: 10px;
	}
	.sub-nav .sub-nav__config .config b {
		display: inline;
	}

/*------------------ HEADER ------------------------*/
	header img.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	header .title h1 {
		font-size: 60px;
		padding: 0 8px;
	}
}