/******************************************/
/*                SLIDER                  */
/******************************************/
.slider {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 5px;
	overflow: hidden;
	gap: 10px;
	max-width: 1440px;
	margin: 50px auto;
	z-index: 1;
}
.slider .articulos {
	display: flex;
	overflow: hidden;
	gap: 10px;
}
.slider h2 {
	width: 100%;
}
.slider .articulos article {
	min-width: 180px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/**********PRODUCTOS***************/
.imagen-producto {
	height: 200px;
	background: grey;
}
.detalles-articulos {
	position: relative;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
.detalles-articulos span {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
}
.detalles-articulos p {
	font-size: 18px;
	margin-top: 10px;
	font-family: sans-serif;
	color: var(--orange);
}
.detalles-articulos b {
	display: block;
	font-size: 13px;
	font-family: sans-serif;
	color: var(--grey);
	margin-bottom: 10px;
}
.detalles-articulos button.btn-add {
	position: absolute;
	right: 0;
	top: -20px;
	color: var(--darkorange);
	border-radius: 50%;
	border: 1px solid #ccc;
	backface-visibilitykground-color: #fff;
	padding: 12px 15px;
	cursor: pointer;
}
.boton-comprar {
	display: flex;
	justify-content: center;
	position: relative;
}
.boton-comprar button.btn-buy {
	background-color: #fff;
	border: none;
	padding: 12px 15px;
	color: #fff;
	background-color: var(--violet);
	cursor: pointer;
}
main .filter select {
	padding: 0px 12px;
}
/******************************************/
/*                PRODUCTOS               */
/******************************************/
main {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	max-width: 1440px;
	margin: 30px auto;
}
main h2 {
	width: 100%;
	margin-bottom: 30px;
}
main .productos-menus {
	width: 50%;
}
main .filter {
	display: flex;
	justify-content: flex-end;
	width: 50%;
}
.productos-menus button.btn__cat {
	padding: 8px 10px;
	background-color: #000;
	color: #fff;
	border: none;
}
.productos-menus .collapse {
	display: none;
}
.productos-menus .collapse ul {
	margin-top: 20px;
}
.productos-menus .collapse ul li {
	padding: 4px 10px;
}
.productos-menus .collapse ul li input[type="checkbox"] {
	opacity: 0;
}
.productos-menus .collapse ul li input:checked ~ label {
	background: var(--orange);
} 
.productos-menus .collapse ul li label {
	padding: 3px 10px;
}
.productos-menus .collapse ul b {
	font-family: var(--font-open);
}
.productos-main {
	display: flex;
	margin: 30px auto;
	flex-wrap: wrap;
	gap: 10px;
	margin-left: 10px;
}
.productos-main article {
	width: 160px;
	min-width: 160px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/******************************************/
/*                CARDS                   */
/******************************************/
section .card {
	border: 1px solid var(--violet);
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	width: 90%;
	margin: 10px auto;
	font-family: var(--font-open);
	color: var(--violet);
}
section .card i {
	background-color: var(--violet);
	padding: 10px;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
}

/****************************************/
/*             QUERYS                   */
/****************************************/
@media screen and (min-width: 520px){
	main h2 {
		margin-left: 15px;
	}
	main .productos-menus {
		padding: 10px 15px;
	}
}
@media screen and (min-width: 800px){
	main {
		display: flex;
		flex-wrap: wrap;
		padding: 5px;
		max-width: 1440px;
		margin: 30px auto;
		position: relative;
	}
	main h2 {
		margin-left: 0px;
	}
	main .productos-menus {
		width: 20%;
		border: 1px #ccc solid;
		border-radius: 5px;
		text-align: center;
	}
	main .filter {
		position: absolute;
		right: 0;
		top: 0px;
		width: fit-content;
		width: -moz-fit-content;
	}
	main .filter select {
		padding: 5px 12px;
	}
	.productos-menus button.btn__cat {
		padding: 10px 0px;
		background-color: transparent;
		color: #000;
		border: none;
		font-size: 20px;
	}
	.productos-menus .collapse {
		display: inline;
	}
	main section {
		width: 75%;
		margin: 0 auto;
	}
	.productos-main {
		display: flex;
		margin: 0px;
		flex-wrap: wrap;
		gap: 10px;
		margin-left: 0px;
	
	}
	.productos-main article {
		width: 200px;
		max-width: 200px;
		min-width: 160px;
		padding: 5px;
		border: 1px solid #ccc;
	}

	/* CARDS */
	section.cards {
		display: flex;
		max-width: 1300px;
		margin: 50px auto;
		gap: 20px;
	}
	section .card {
		width: 33%;
	}

}