<!DOCTYPE html>
<html lang="es">

<%- include ("partials/head") %>

<body>
	<!-- Navbar Fixed -->
	<nav class="navbar flex">
<!-- Buscador oculto -->
	<div class="search" id="showSearch">
		<form>
			<div class="btn-search" onclick="showSearch()"><i class="fas fa-times"></i></div>
			<input type="text" placeholder="Buscar" id="showSearch">
			<button class="btn-search"><i class="fas fa-search"></i></button>
		</form>
	</div>
<!-- /buscador oculto -->
		<div class="logo">
			<a href="/">
			<img src="img/icons/icon-title2.png" class="logotipo" alt="El baron de la cerveza, logo">
			</a>
		</div>

    	<div class="nav-items">
			<i class="fas fa-bars burguer" onclick="showMenu()"></i>
			<ul id="menu">
				<button class="close" onclick="showMenu()"><i class="fas fa-times"></i></button>
				<li><a href="/">Home</a></li>
				<li><a href="/about">Acerca de</a></li>
				<li><a href="/contact">Contacto</a></li>

				<!-- Switch de modo oscuro -->
				<button class="switch" id="switch" onclick="modoNocturno()">
					<span><i class="fas fa-sun"></i></span>
					<span><i class="fas fa-moon"></i></span>
				</button>

			</ul>
		</div>
		<div class="icons">

			<button  class="user-config" onclick="showSearch()"><i class="fas fa-search"></i></button>

			<button class="user-config" onclick="showSubmenu()">
				<span></span>
				<i class="fas fa-user"></i>
			</button>

			<div class="shopping-cart" onclick="showCart()"><i class="fas fa-shopping-cart"></i>
				<span>1</span>
			</div>
			
			<!-- Mini menu desplegable  -->
			<div class="carrito-menu" id="carrito-menu">
				<div class="cerrar-menu">
					<i class="fas fa-times" onclick="showCart()"></i>
				</div>
				<div class="en-carrito">
					<div>
						<div class="imagen-carrito">
							<img src="/img/productos/img1.jpg" class="producto-carrito">
						</div>
						<div class="detalles-producto-carrito">
							<b>$000.00</b>
							<span>nombre de producto</span>
						</div>
					</div>
					<div>
						<div class="imagen-carrito">
							<img src="/img/productos/img2.png" class="producto-carrito">
						</div>
						<div class="detalles-producto-carrito">
							<b>$000.00</b>
							<span>nombre de producto</span>
						</div>
					</div>
					<div>
						<div class="imagen-carrito">
							<img src="/img/productos/img3.png" class="producto-carrito">
						</div>
						<div class="detalles-producto-carrito">
							<b>$000.00</b>
							<span>nombre de producto</span>
						</div>
					</div>
				</div>
				<div class="boton-carrito">
					<a href="#">Ir a carrito</a>
				</div>
			</div>
			<!-- /Mini menu desplegable -->
		</div>
	</nav>
	<!-- /Navbar Fixed-->

	<!-- Submenu -->
	<nav class="sub-nav" id="subNave">
		<ul>
			<!-- En caso de que no este registrado -->
			<li><a href="/login">Ingresar</a></li>

			<!-- en caso de que ya este logeado -->
			<li><a href="/config">Configuracion</a></li>
			<li><a href="#">Cerrar sesión</a></li>
		</ul>
	</nav>
	<!-- /Submenu -->


	<main class="config">
	<!-- Barra de Direccion -->
    <div class="barra-direccion">
        <a href="/">Home</a>
        /
        <a href="/config">Configuración</a>
    </div>
		<div class="title-config">
			<h2>Bienvenido, Nombre usuario</h2>
		</div>
	<!-- Detalles de usuario -->
		<section class="tabla-config">
			<div class="config">
				<h2>Usuario</h2>
				
				<button class="editar">Editar<i class="fas fa-pen"></i></button>
			</div>
			<div class="tabla-datos">
				<div class="column">
					<h3>Nombre</h3>
					<span>Jonatan</span>
				</div>

				<div class="column">
					<h3>Email</h3>
					<span>email@email.com</span>
				</div>

				<div class="column">
					<h3>Contraseña</h3>
					<span>*************</span>
				</div>
			</div>	
		</section>
		<!-- /Detalles de usuario -->

		<!-- Historila de compras -->
		<section class="tabla-config">
			<div class="config">
				<h2>Historial</h2>
				<p>
					<button class="imprimir editar">imprimir</button>
					<button class="editar">limpiar<i class="fas fa-trash"></i></button>
				</p>
			</div>
			<div class="tabla-datos">
				<div class="column">
					<h3>Producto</h3>
					<span>Detalles del producto</span>
				</div>

				<div class="column">
					<h3>Cantidad</h3>
					<span>1</span>
				</div>

				<div class="column">
					<h3>Fecha del pedido</h3>
					<span>00/00/00</span>
				</div>

				<div class="column">
					<h3>Direccion de envio</h3>
					<span>nombre de la calle, 123. Localidad</span>
				</div>
			</div>	
		</section>
		<!-- /Historila de compras -->
	</main>
	<!-- FOOTER -->
	<footer>
		<div class="footer">
			<div class="navegacion">
				<h5>Navegacion</h5>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="#">Acerca de</a></li>
					<li><a href="/contact">Contacto</a></li>
				</ul>
			</div>
			<div class="formas-pago">
				<h5>Formas de pago</h5>
				<div>
					<img src="img/icons/mastercard.png" alt="mastercard">
					<img src="img/icons/ml.png" alt="mercado libre">
					<img src="img/icons/visa.png" alt="visa">
				</div>
			</div>
			<div class="redes">
				<h5>Redes</h5>
				<div>
					<i class="fab fa-facebook"></i>
					<i class="fab fa-whatsapp"></i>
					<i class="fab fa-instagram"></i>
				</div>
			</div>
			<div class="logo">
				<img src="/img/icons/icon-title2.png" alt="">
			</div>
		</div>
	</footer>
	<!-- /FOOTER -->
</body>
</html>