main.about {
	max-width: 1024px;
	margin: 60px auto;
}
main.about h2 {
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 10px;
}
.about-us {
	display: flex;
	justify-content: center;
	align-items: center; 
	flex-wrap: wrap;
	min-width: 310px;
	text-align: justify;
}
.about-us img {
	width: 310px;
}
.about-us p {
	padding: 13px;
	font-size: 22px;
}	
@media screen and (min-width: 720px){
	.about-us img {
		width: 30%;
	}	
	.about-us p {
		width: 70%;
	}	
}
@media screen and (min-width: 1024px){
	main.about h2 {
		margin-top: 60px;
		display: block;
	}
	main.about .about-us {
		display: flex;
		justify-content: center;	
		height: 70vh;
	}
}