/* celu: 320 - tablet: 760 - escritorio: 1024 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.separador {
	width: 100%;
	height: 50px;
}

body.contact {
	background: url('/img/icons/fondo_regylog.jpg');
	background-size: contain;
}

/* Contenedor_Contacto */
main .contenedor_contacto {
	width: 100%;
	height: auto;
	display: flex;
}

/* Logo_Contacto */
.contenedor_contacto .logo_contacto {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.contenedor_contacto .logo_contacto .contenedordelcontenedor {
	display: flex;
	flex-direction: column;	
	background-color: white;
	border-radius: 50%;
	padding: 40px;
	box-shadow: 13px 13px 15px rgb(0, 0, 0, 0.5);
}
.contenedor_contacto .logo_contacto .logo_contimage {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
}
.contenedor_contacto .logo_contacto .logo_contimage img {
	width: 150px;
	height: 150px;
}
.contenedor_contacto .logo_contacto .logo_contitulo {
	width: 100%;
	font-size: 20px;
	display: flex;
	justify-content: center;
}
.contenedor_contacto .logo_contacto .logo_contitulo h1 {
	font-size: 25px;
}

/* Contenedor_Contcontacto */
.contenedor_contcontacto {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	padding: 20px 0 20px;
	flex-wrap: wrap;
}
.contenedor_contcontacto .contenedor_infocontacto {
	width: 90%;
	height: auto;
	border-radius: 20px;
	padding: 30px 20px 30px;
	display: none;
	flex-wrap: wrap;
}
/* Contenedor_Infocontacto -- Info_Contacto 1 */
.contenedor_contcontacto .contenedor_infocontacto .info_contacto {
	width: 100%;
	height: auto;
	margin: 20px 0 30px;
	background-color: #F09D45;
	border-radius: 10px;
	padding: 20px;
}
.contenedor_contcontacto .contenedor_infocontacto .info_contacto .icono {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
}
.contenedor_contcontacto .contenedor_infocontacto .info_contacto .icono i {
	font-size: 20px;
	margin-right: 15px;
}
/* Contenedor_Infocontacto -- Form_Contacto */
.contenedor_contcontacto .contenedor_infocontacto .form_contacto {
	width: 100%;
	height: auto;
}
.contenedor_contcontacto .contenedor_infocontacto .form_contacto input {
	width: 100%;
	height: 20px;
	padding: 20px;
	border: 1px solid #F09D45;
	border-radius: 10px;
	margin-bottom: 20px;
}
.contenedor_contcontacto .contenedor_infocontacto .form_contacto button {
	width: 100%;
	height: 40px;
	border-radius: 8px;
	border: none;
	background-color: #5343DC;
	color: white;
}
.contenedor_contcontacto .contenedor_infocontacto2 {
	width: 90%;
	height: auto;
	border-radius: 20px;
	padding: 30px 20px 30px;
	display: none;
	flex-wrap: wrap;
}
/* Contenedor_Infocontacto -- Info_Contacto 2 */
.contenedor_contcontacto .contenedor_infocontacto2 .info_contacto2 {
	width: 100%;
	height: auto;
	margin: 20px 0 30px;
	background-color: #5343DC;
	border-radius: 10px;
	padding: 20px;
	color: white;
}
.contenedor_contcontacto .contenedor_infocontacto2 .info_contact2o .icono2 {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
}
.contenedor_contcontacto .contenedor_infocontacto2 .info_contacto2 .icono2 i {
	font-size: 20px;
	margin-right: 15px;
}
/* Contenedor_Infocontacto -- Form_Contacto 2 */
.contenedor_contcontacto .contenedor_infocontacto2 .form_contacto2 {
	width: 100%;
	height: auto;
}
.contenedor_contcontacto .contenedor_infocontacto2 .form_contacto2 input {
	width: 100%;
	height: 20px;
	padding: 20px;
	border: 1px solid #5343DC;
	border-radius: 10px;
	margin-bottom: 20px;
}
.contenedor_contcontacto .contenedor_infocontacto2 .form_contacto2 button {
	width: 100%;
	height: 40px;
	border-radius: 8px;
	border: none;
	background-color: #F09D45;
	color: white;
}

/* Medias Queries */
/* Tablet */
@media screen and (min-width: 760px) {

	/* Contenedor_Infocontacto -- Info_Contacto 1 */
	.contenedor_contcontacto .contenedor_infocontacto .info_contacto .icono p {
		font-size: 25px;
	}
	.contenedor_contcontacto .contenedor_infocontacto .info_contacto .icono i {
		font-size: 20px;
		margin-right: 15px;
	}
	/* Contenedor_Infocontacto -- Info_Contacto 2 */
	.contenedor_contcontacto .contenedor_infocontacto2 .info_contacto2 .icono2 p {
		font-size: 25px;
	}
	.contenedor_contcontacto .contenedor_infocontacto2 .info_contacto2 .icono2 i {
		font-size: 20px;
		margin-right: 15px;
	}

	/* Cambio de Contacto */
	.contenedor_contcontacto .rotador_contacto1 a {
		font-size: 13px;
	}
	.contenedor_contcontacto .rotador_contacto2 a {
		font-size: 13px;
	}
}

/* Escritorio */
@media screen and (min-width: 1024px) {
	/* Contenedor_Infocontacto */
	.contenedor_contcontacto .contenedor_infocontacto {
		width: 70%;
		justify-content: space-around;
		flex-wrap: wrap;
		display: none;
	}
	.contenedor_contcontacto .contenedor_infocontacto .mensaje_contacto {
		width: 100%;
		margin-bottom: 30px;
	}
	/* Contenedor_Infocontacto -- Info_Contacto */
	.contenedor_contcontacto .contenedor_infocontacto .info_contacto {
		width: 45%;
		height: auto;
		margin: 0 0 30px;
		display: flex;
		flex-wrap: wrap;
	}
	.contenedor_contcontacto .contenedor_infocontacto .info_contacto .icono p {
		font-size: 20px;
	}
	/* Contenedor_Infocontacto -- Form_Contacto */
	.contenedor_contcontacto .contenedor_infocontacto .form_contacto {
		width: 45%;
		height: auto;
	}
	/* Contenedor_Infocontacto 2 */
	.contenedor_contcontacto .contenedor_infocontacto2 {
		width: 70%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		display: none;
	}
	/* Contenedor_Infocontacto -- Info_Contacto 2 */
	.contenedor_contcontacto .contenedor_infocontacto2 .info_contacto2 {
		width: 45%;
		height: auto;
		margin: 0 0 30px;
		display: flex;
		flex-wrap: wrap;
	}
	.contenedor_contcontacto .contenedor_infocontacto2 .info_contacto2 .icono2 p {
		font-size: 20px;
	}
	/* Contenedor_Infocontacto -- Form_Contacto 2 */
	.contenedor_contcontacto .contenedor_infocontacto2 .form_contacto2 {
		width: 45%;
		height: auto;
	}

	/* Cambio de Contacto */
	.contenedor_contcontacto .rotador_contacto1 a {
		font-size: 17px;
	}
	.contenedor_contcontacto .rotador_contacto2 a {
		font-size: 17px;
	}
}

/* Cambio de Contacto   */
.contenedor_contcontacto .rotador_contacto1 {
	width: 30%;
	height: auto;
	padding: 0 10px 0;
	background-color: #F09D45;
	border-radius: 10px;
	margin: 20px 10% 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contenedor_contcontacto .rotador_contacto1 a {
	text-decoration: none;
	color: black;
}
.contenedor_contcontacto .rotador_contacto2 {
	width: 30%;
	height: 60px;
	padding: 0 10px 0;
	background-color: #5343DC;
	border-radius: 10px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contenedor_contcontacto .rotador_contacto2 a {
	text-decoration: none;
	color: white;
}

/* Cambio de Contacto ":target" */
.contenedor_infocontacto:target {
	display: block;
	display: flex;
	background-color: white;
	box-shadow: 13px 13px 15px rgb(0, 0, 0, 0.5);
}
.contenedor_infocontacto2:target {
	display: block;
	display: flex;
	background-color: white;
	box-shadow: 13px 13px 15px rgb(0, 0, 0, 0.5);
}