.bodyContact {
	background: url('/img/icons/fondo_regylog.jpg');
	padding-top: 40px;
}
.separador {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: white;
	width: 230px;
	height: 230px;
	margin-top: 60px;
}
.separador img {
	width: 200px;
}
.contenedor_contacto {
	max-width: 1024px;
	margin: 40px auto;
}
.btn-open-card {
	margin-bottom: 40px;
	text-align: center;
}
.btn-open-card a {
	background: var(--violet);
	padding: 13px; 
	border-radius: 5px;
	color: white;
	cursor: pointer;
}
.btn-open-card a:hover {
	-webkit-box-shadow: 3px 7px 29px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 7px 29px -12px rgba(0,0,0,0.75);
	box-shadow: 3px 7px 29px -12px rgba(0,0,0,0.75);
	background: rgb(128,178,255);
	background: linear-gradient(93deg, rgba(128,178,255,1) 0%, rgba(83,67,220,1) 64%);
}
.contenedor_contacto .card {
	display: flex;
	flex-wrap: wrap;
	background: white;
	border-radius: 5px;
	padding: 20px;
	width: 90%;
	margin: auto;
}
.contenedor_contacto .card1 {
	display: none;
}
.card1.active {
	display: flex;
}
.card2 {
	display: none;
}
.card2.active {
	display: flex;
}
.card .info {
	padding: 20px;
	background: var(--orange);
	border-radius: 5px;
}
.card .info p {
	padding: 5px;
	font-family: var(--font-open);
}
.card .info p i {
	color: var(--darkorange);
	margin-right: 5px;
}
.card .info-card {
	width: 90%;
	margin: auto;
}
.card .inputs {
	text-align: center;
}
.card .inputs input {
	padding: 10px;
	margin: 5px;
	border: 2px solid var(--orange);
	border-radius: 5px;
	width: 100%;
}
.card .inputs textarea {
	padding: 10px;
	margin: 5px;
	border: 2px solid var(--orange);
	border-radius: 5px;
	width: 100%;
}
.card .inputs button {
	padding: 10px;
	margin: 5px;
	border: 2px solid var(--violet);
	border-radius: 5px;
	background: var(--violet);
	color: white;
	width: 100%;
}
.card .inputs button:hover {
	-webkit-box-shadow: 3px 7px 29px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 7px 29px -12px rgba(0,0,0,0.75);
	box-shadow: 3px 7px 29px -12px rgba(0,0,0,0.75);
	background: rgb(128,178,255);
	background: linear-gradient(93deg, rgba(128,178,255,1) 0%, rgba(83,67,220,1) 64%);
}
.btn-divition {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

@media screen and (min-width:720px){
	
	.card .info-card{
		width: 50%;
	}
	.card-divition {
		width: 100%;
	}
}