main.finalizar-compra {
	max-width: 1024px;
	margin: 60px auto;
}
main.finalizar-compra .title p {
	margin-bottom: 0px;
}
.registrarse {
	display: flex;
	justify-content: space-between;
	font-family: var(--font-open);
}
.registrarse i {
	font-size: 23px;
}
.finalizar-compra label {
	font-family: var(--font-open);
}
.finalizar-compra hr {
	margin: 20px 0;
}
/************************************/
/************************************/
.datos-de-compra {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 13px;
}
.datos-de-compra a {
	background: var(--darkorange);
	padding: 5px 8px;
	border-radius: 5px;
}
.datos-de-compra input {
	padding: 3px 5px;
	border: none;
	border-bottom: 1px dotted var(--orange);
	margin-top: 20px;
	width: 100%;
}
.datos-de-compra input:focus {
	border: none;
}
.datos-de-compra strong {
	font-family: var(--font-open);
}
.datos-de-compra p {
	display: flex;
	gap: 10px;
}
.datos-de-compra .btn-continuar {
	display: flex;
	justify-content: center;
}
.datos-de-compra .btn-continuar button {
	padding: 10px 12px;
	border: none;
	background: var(--violet);
	color: #fff;
	margin-top: 20px;
	display: block;
}

/************************************************/
/* 				Metodos de envio 				*/
/************************************************/
.metodos-de-envio {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 13px;
}
.metodos-de-envio span {
	font-family: var(--font-open);
	margin-bottom: 30px;
}
.metodos-de-envio form div {
	margin-bottom: 5px;
}
.metodos-de-envio form div:hover {
	background: #b0a8f0;
	cursor: pointer;
}
/************************************************/
/* 				Producto a comprar 				*/
/************************************************/
.a-comprar {
	display: flex;
	flex-direction: column;
}
.a-comprar #a-comprar {
	display: flex;
	width: 100%;
	justify-content: center;
}
.producto-comprado img {
	width: 100px;
}
#a-comprar .detalles {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#a-comprar .detalles button {
	background: none;
	border: none;
	padding: 8px;
	color: var(--violet);
	font-size: 20px;
}
.total {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
@media screen and (min-width:720px){
	.finalizar-compra .columnas-de-compras {
		display: flex;
		flex-wrap: wrap;
	}
	.finalizar-compra .columnas-de-compras .title {
		width: 100%;
		margin: 10px 0;
		background: var(--orange);
		padding: 5px;
		border-radius: 5px;

	}
	.datos-de-compra {
		width: 50%;
	}
	.metodos-de-envio {
		width: 50%;
	}

	.a-comprar {
		display: flex;
		flex-direction: row;
	}
	.a-comprar #a-comprar {
		width: 50%;
	}
	.total {
		width: 50%;
	}
}