h5 {
	font-size: 22px;
	font-family: var(--font-rowdies);
	font-weight: lighter;
}
footer {
	background: rgb(212,58,15);
	background: linear-gradient(0deg, rgba(212,58,15,1) 42%, rgba(255,215,212,1) 100%);
	text-align: center;
	margin-top: 100px;
	padding: 10px 0;
	padding-bottom: 50px;
	margin-bottom: 30px;
	box-shadow: -1px -7px 32px -11px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -7px 32px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -7px 32px -11px rgba(0,0,0,0.75);
z-index: 8000;
}
.footer {
	max-width: 1024px;
	margin: 0 auto;
	color: #fff;
}
.footer .logo img {
	width: 140px;
}
.formas-pago {
	display: flex;
	flex-direction: column;
}
.formas-pago img {
	width: 80px;
	margin: 0 auto;
}
.footer .redes i {
	font-size: 20px;
	padding: 10px;
}
.footer .navegacion ul li a {
	color: #fff;
}

@media screen and (min-width: 720px){
	footer {
		padding-bottom: 10px;
		margin-bottom: unset;
	}
	.footer {
		display: flex;
		flex-wrap: wrap;
	}
	.footer .navegacion {
		width: 33.3%;
		padding: 13px 10px;
	}
	
	.footer .formas-pago {
		width: 33.3%;
		padding: 13px 10px;
	}
	.footer .formas-pago img {
		width: 50px;
	}
	.footer .redes {
		width: 33.3%;
		padding: 13px 10px;
	}
	.footer .logo {
		width: 100%;
	}
}