.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10000;
    padding: 10px 12px;
    box-shadow: 0px 0.5px 5px 0px rgb(0, 0, 0);
}

.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__icon-header {
    font-size: 1.25rem;
}

.nav__logo {
    cursor: pointer;
    order: 2;
    width: 100px;
}

.nav__img {
    height: 100%;
    width: 100%;
}

.nav__menu {
    background-color: inherit;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
}

.nav__list,
.nav__link {
    display: flex;
}

.nav__list {
    list-style: none;
    justify-content: space-around;
}

.nav__link {
    cursor: pointer;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;
    font-weight: 600;
    padding: 8px 10px;
    transition: .3s;
}

.nav__link:hover {
    background: var(--orange);
}
.nav__link span {
    transition: .3s;
}
.nav__link:hover span {
    color: #fff;
}

.nav__icon {
    display: none;
    font-size: 1.5rem;
    color: #B57129;
}

.nav__name {
    font-size: 0.9rem;
    color: black;
}

.nav__search {
    cursor: pointer;
    order: 1;
    background-color: #fff;
    z-index: 1500;
    position: relative;
}

.search__form {
    height: 3.5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    left: -13px;
    top: -100px;
    
}

.search__form.active {
    top: -19px;
}

.search__form input {
	padding: 8px 12px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 250px;
}

.search__form input::placeholder {
	color: var(--orange);
}

.search__form .btn-search {
	background: none;
	border: none;
	font-size: 18px;
	padding: 10px;
	cursor: pointer
}

.nav__user {
    cursor: pointer;
    order: 3;
}

.nav__user span {
	width: 10px;
	height: 10px;
	background: var(--orange);
	border-radius: 50%;
    /* position: relative; */
	position: absolute;
	right: 5px;
	bottom: 16px;
}

.sub-nav {
	position: fixed;
	top: 56px;
	transition: all .5s ease;
	z-index: 2000;
	display: none;
	right: 0;
	box-shadow: -3px 3px 5px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 3px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 5px -1px rgba(0,0,0,0.75);
    border-top: none;
    border-radius: 5px;
}
.sub-nav.active {
	display: block;
}
.sub-nav ul {
    
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	background: white;
	width: 100%;
	padding: 20px 10px;
	border-radius: 0 0 5px 5px;
	text-align: center;
	z-index: 70000;
}
.sub-nav ul li {
	margin-top: 10px;
}
.sub-nav ul li a {
	font-size: 13px;
	padding: 5px 10px;
	font-weight: 700;
	color: var(--violet);
}
.sub-nav ul li a:hover {
	background: var(--orange);
	color: #fff;
}
.sub-nav ul li a i {
	margin-right: 5px;
}

.shopping-cart {
	position: fixed;
	right: 20px;
	bottom: 80px;
	padding: 10px 12px;
	border-radius: 50%;
	background-color: var(--darkorange);
	color: #fff;
	z-index: 5000;
}
 .shopping-cart span {
	position: absolute;
	font-size: 13px;
	background-color: green;
	bottom: 0;
	height: 18px;
	width: 18px;
	text-align: center;
	border-radius: 50%;
}

/* Mini menu desplegable de carrito */
.carrito-menu {
	position: absolute;
	top: 100px;
	right: -100%;
	background: #000;
	width: 160px;
	padding: 15px 12px 15px 10px;
	color: #fff;
	border-radius: 5px;
	transition: all .5s ease;
}
.carrito-menu.active {
	right: 0;
}
.en-carrito {
	max-height: 50vh;
	overflow-y: auto;
}
.carrito-menu .cerrar-menu i {
	cursor: pointer;
}
.en-carrito::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}
.en-carrito::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
.en-carrito::-webkit-scrollbar-thumb
{
	background-color: var(--orange);
	border-radius: 10px;
}
.carrito-menu .imagen-carrito {
	width: 100px;
	height: 140px;
	background: grey;
}
.carrito-menu .imagen-carrito img {
	width: 100px;
	height: 140px;
	background: grey;
}
.carrito-menu  .detalles-producto-carrito b {
	display: block;
	color: var(--orange);
}
.carrito-menu  .detalles-producto-carrito span {
	font-family: var(--font-open);
	font-size: 13px;
}
.carrito-menu .boton-carrito {
	text-align: center;
	padding: 10px 0px;
	cursor: pointer;
}
.carrito-menu .boton-carrito a {
	background-color: var(--darkorange);
	color: #fff;
    padding: 8px 10px;
	border-radius: 5px;
}
/* /Mini menu desplegable de carrito */
.header {
    background: url('/img/icons/header-3.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.header h2 {
    color: var(--orange);
}
@media screen and (min-width: 768px){
    .nav {
        height: 3.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo {
        order: 1;
        width: 100px;
    }

    .nav__menu {
        order: 2;
        position: unset;
        box-shadow: unset;
        width: 50%;
        max-width: 75%;
        height: 3.5rem;
        padding: unset;
        display: grid;
        align-items: center;
        border-radius: unset;
    }

    .nav__list {
        justify-content: space-evenly;
    }

    .nav__link {
        align-items: center;
        row-gap: unset;
    }

    .nav__link .nav__icon {
        display: none;
    }

    .nav__search {
        order: 3;
    }

    .search__form {
        height: 3.5rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        position: absolute;
        left: -230px;
        top: -100px;
    }
    .header h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .header h1 {
        font-size: 50px;
    }
}