
.slider-products {
	max-width: 1024px;
	margin: 40px auto;
}
.slider-products h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
}
.carousel-cell {
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  position: absolute;
  width: 180px;
  border: 1px solid #ccc;
  padding: 5px;
}
/**********PRODUCTOS***************/
article a {
	display: flex;
}
.imagen-producto {
	height: 200px;
	margin: 0 auto;
	transition: .5s;
}
.imagen-producto:hover {
	transform: scale(1.2);
}
.detalles-articulos {
	position: relative;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
.detalles-articulos span {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
}
.detalles-articulos p {
	font-size: 18px;
	margin-top: 10px;
	font-family: sans-serif;
	color: var(--orange);
}
.detalles-articulos b {
	display: block;
	font-size: 13px;
	font-family: sans-serif;
	color: var(--grey);
	margin-bottom: 10px;
}
.detalles-articulos button.btn-add {
	position: absolute;
	right: 0;
	top: -20px;
	color: var(--darkorange);
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 12px 15px;
	cursor: pointer;
}
.boton-comprar {
	display: flex;
	justify-content: center;
	position: relative;
}
.boton-comprar button.btn-buy {
	background-color: #fff;
	border: none;
	padding: 12px 15px;
	color: #fff;
	background-color: var(--violet);
	cursor: pointer;
}
main .filter select {
	padding: 0px 12px;
}
/******************************************/
/*                PRODUCTOS               */
/******************************************/
main.seccion-productos {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	max-width: 1024px;
	margin: 30px auto;
}
main.seccion-productos h2 {
	width: 100%;
	margin-bottom: 30px;
}
main.seccion-productos .productos-menus {
	width: 50%;
}
main.seccion-productos .filter {
	display: flex;
	justify-content: flex-end;
	width: 50%;
}
.productos-menus h3.cat-text {
	display: none;
}
.productos-menus button.btn__cat {
	padding: 8px 10px;
	background-color: #000;
	color: #fff;
	border: none;
}
.productos-menus .menu-categorias {
	display: none;
}
.productos-menus .menu-categorias ul {
	margin-top: 20px;
}
.productos-menus .menu-categorias ul li {
	padding: 4px 10px;
}
.productos-menus .menu-categorias ul li input[type="checkbox"] {
	display: none;
}
.productos-menus .menu-categorias ul li input:checked ~ label {
	background: var(--orange);
} 
.productos-menus .menu-categorias ul li label {
	padding: 3px;
}
.productos-menus .menu-categorias ul b {
	font-family: var(--font-open);
	font-weight: bolder;
	text-decoration: underline;
	color: #000;
}
.productos-main {
	display: flex;
	margin: 30px auto;
	flex-wrap: wrap;
	gap: 10px;
	margin-left: 10px;
}
.productos-main article {
	width: 140px;
	min-width: 140px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 auto;
	overflow: hidden;
}

/**********Desplegable***********************/
.productos-menus .collapse {
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: #000;
	color: #fff;
	text-align: center;
	z-index: 6000;
	transition: .5s;
}
.productos-menus .collapse.active {
	height: 430px;
}
.productos-menus .collapse ul {
	margin-top: 20px;
}
.productos-menus .collapse ul li {
	padding: 4px 10px;
}
.productos-menus .collapse ul li input[type="checkbox"] {
	display: none;
}
.productos-menus .collapse ul li input:checked ~ label {
	background: var(--orange);
} 
.productos-menus .collapse ul li label {
	padding: 3px;
}
.productos-menus .collapse b {
	font-family: var(--font-open);
	font-weight: bolder;
	text-decoration: underline;
	color: #fff;
}
.productos-menus .collapse button {
	display: block;
	width: 100%;
	color: #fff;
	padding: 10px;
	border: none;
	background: none;
}

.productos-menus .collapse button:hover {
	background: #999;	
}
/******************************************/
/*                Intro                   */
/******************************************/
.intro {
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	margin: 60px auto;
	text-align: center;
	padding: 10px;
}
.intro .welcome {
	width: 100%;
}
.intro .welcome h2 {
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 20px;
}
.intro .welcome p {
	font-family: var(--font-open);
	margin-bottom: 40px;
	color: #222;
	font-size: 22px;
	text-align: center;
}
.intro .welcome a {
	background: var(--violet);
	padding: 10px 12px;
	border-radius: 5px;
	color: #fff;
	width: 100%;
}

/******************************************/
/*                description             */
/******************************************/
.description {
	background: var(--orange);
	margin: 270px 0 30px;
}
.description-size {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.description-size div:nth-child(1){
	width: 100%;
}
.description-size div:nth-child(1) img {
	margin: 0 auto;
	margin-top: -240px;
	display: flex;
	left: 0;
	right: 0;
	width: 300px;
}
.description-size div:nth-child(2){
	width: 100%;
	padding: 40px 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.description-size h4 {
	font-size: 25px;
}
.description-size p {
	font-family: var(--font-open);
	font-size: 20px;
	margin-top: 20px;
}
.description-size a {
	background: var(--violet);
	padding: 10px 12px;
	border-radius: 5px;
	color: #fff;
	width: 180px;
	margin-top: 30px;
}
/******************************************/
/*                CARDS                   */
/******************************************/
section .card {
	border: 1px solid var(--violet);
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	width: 90%;
	margin: 10px auto;
	font-family: var(--font-open);
	color: var(--violet);
}
section .card i {
	background-color: var(--violet);
	padding: 10px;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
}
/****************************************/
/*             carrusel-banners         */
/****************************************/
.carrusel-banners {
	max-width: 1024px;
	margin: 0 auto;
}
.carrusel-banners img {
	max-width: 1024px;
}


/****************************************/
/*             QUERYS                   */
/****************************************/
@media screen and (min-width: 520px){
	main.seccion-productos h2 {
		margin-left: 15px;
	}
	main.seccion-productos .productos-menus {
		padding: 10px 15px;
	}
	.productos-main article {
		width: 180px;
		max-width: 200px;
		min-width: 160px;
		padding: 5px;
		border: 1px solid #ccc;
		margin:0 0;
	}
}
@media screen and (min-width: 720px){
	main.seccion-productos {
		display: flex;
		flex-wrap: wrap;
		padding: 5px;
		margin: 30px auto;
		position: relative;
	}
	main.seccion-productos h2 {
		margin-left: 0px;
	}
	main.seccion-productos .productos-menus {
		width: 20%;
		border: 1px #ccc solid;
		border-radius: 5px;
		text-align: center;
	}
	main.seccion-productos .filter {
		position: absolute;
		right: 0;
		top: 0px;
		width: fit-content;
		width: -moz-fit-content;
	}
	main.seccion-productos .filter select {
		padding: 5px 12px;
	}
	.productos-menus button.btn__cat {
		display: none;
	}
	.productos-menus h3.cat-text {
		display: block;
		padding: 10px 0px;
		background-color: transparent;
		color: #000;
		border: none;
		font-size: 20px;	
	}
	.productos-menus .menu-categorias {
		display: inline;
	}
	main.seccion-productos section {
		width: 75%;
		margin: 0 auto;
	}
	.productos-main {
		display: flex;
		margin: 0px;
		flex-wrap: wrap;
		gap: 10px;
		margin-left: 0px;
	
	}
	.productos-main article {
		width: 160px;
		max-width: 200px;
		min-width: 160px;
		padding: 5px;
		border: 1px solid #ccc;
		margin:0 0;
	}
	/******************************************/
	/*                Intro                   */
	/******************************************/
	
	/******************************************/
	/*                description             */
	/******************************************/
	.description {
		background: var(--orange);
		margin: 100px 0 30px;
	}
	.description-size {
		flex-direction: row;
	}
	.description-size div:nth-child(1){
		width: 50%;
	}
	.description-size div:nth-child(1) img {
		margin-top: -50px;
	}
	.description-size div:nth-child(2){
		width: 50%;
	}
	/* CARDS */
	section.cards {
		display: flex;
		max-width: 1024px;
		margin: 50px auto;
		gap: 20px;
	}
	section .card {
		width: 33%;
	}

}
@media screen and (min-width: 1000px){
	.productos-main article {
		width: 180px;
		max-width: 200px;
		min-width: 160px;
		padding: 5px;
		border: 1px solid #ccc;
		margin:0 0;
	}
	/******************************************/
	/*                banner-ver-mas          */
	/******************************************/
	.banner-ver-mas .img-banner {
		width: 50%;
		height: 400px;
	}
	.banner-ver-mas a {
		height: 400px;
		width: 50%;
	}
}