/* celu: 320 - tablet: 760 - escritorio: 1024 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main_login */
body.body_login {
	background: url('/img/icons/fondo_regylog.jpg');
}
.main_login {
	max-width: 1024px;
	display: flex;
	
}

/* Contenedor_login */
.contenedor_login {
	width: 100%;
	display: flex;
	background: #fff;
	position: absolute;
}

/* Seccion_login */
.seccion_login {
	width: 100%;
	display: flex;
	padding: 20px 40px;
	flex-wrap: wrap;
}
/* Nombre Pagina, Logo y Frase */
.seccion_login .div_nombre {
	width: 100%;
	display: flex;
	margin-bottom: 20px;
}
.seccion_login .div_nombre .nombre_pagina {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.seccion_login .div_nombre .nombre_pagina img {
	width: 200px;
}
.seccion_login .div_frase {
	width: 100%;
	margin-bottom: 30px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
/* barra separadora */
.seccion_login .div_barra {
	width: 100%;
	display: flex;
	margin-bottom: 30px;
	justify-content: space-between;
	align-items: center;
	color: rgb(240, 157, 69, 0.5);
}
.seccion_login .div_barra hr {
	width: 45%;
	border: 1px solid rgb(240, 157, 69, 0.5);
}
/* Inputs Email y Contraseña */
.seccion_login .div_continput {
	width: 100%;
	padding: 0 8px 0;
}
.seccion_login .div_continput .div_input {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
.seccion_login .div_continput .div_input input {
	width: 100%;
	margin: 10px 0 20px;
	padding: 10px 16px;
	height: 40px;
	border: 1px solid #F09D45;
	border-radius: 5px;
}
.seccion_login .div_continput .div_input input:nth-child(2n) {
	margin-bottom: 5px;
}
/* Boton Ingresar */
.seccion_login .div_botoning {
	width: 100%;
	display: flex;
	justify-content: center;
}
.seccion_login .div_botoning button {
	width: 200px;
	height: 40px;
	border-radius: 25px;
	border: none;
	margin-bottom: 30px;
	background-color: #5343DC;
	color: white;
	cursor: pointer;
	transition: .5s;
}
.seccion_login .div_botoning button:hover {
	background-color: #3022af;
}
/* Ingresar con Facebook */
.seccion_login .div_ingGoogle {
	width: 100%;
	padding: 12px;
	border-radius: 25px;
	border: 1px solid #5343DC;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.seccion_login .div_ingGoogle:hover {
	background: #5343DC;	
}
.seccion_login .div_ingGoogle:hover {
	color: #fff;
}
.seccion_login .div_ingGoogle{
	text-decoration: none;
	color: #5343DC;
}
.seccion_login .div_ingGoogle img {
	width: 18px;
}
.seccion_login .div_continput a {
	color: blue;
	cursor: pointer;
}
.seccion_login .div_continput .div_input a:hover {
	color: blue;
}
/* Olvidaste tu Contraseña */
.seccion_login .div_olvcontraseña {
	width: 100%;
	margin-bottom: 20px;
}
/* Crear Cuenta */
.seccion_login .div_crearcuenta {
	width: 100%;
	text-align: center;
}
.seccion_login .div_crearcuenta a {
	text-decoration: underline;
	color: blue;
}
.seccion_login .div_crearcuenta a:hover {
	color: lightskyblue;
}
/* Seccion_imagen*/
.seccion_imagen {
	display: none;
}

.checkLogin #check {
	width: 20px;
}
.checkLogin label {
	font-family: var(--font-open);
}
.isInvalid {
	border: 2px solid red;
}

/* Medias Queries */
/* Tablet */
@media screen and (min-width: 761px) {
	/* Contenedor_login  */
	.contenedor_login {
		width: 420px;
		height: fit-content;
	}
	.seccion_login {
		box-shadow: 10px 0 15px rgb(0, 0, 0, 0.5);
		z-index: 100;
		width: 100%;
		top: 0;
	}

	/* Seccion_imagen*/
	.seccion_imagen {
		display: block;
		height: 614px;
		width: 750px;
	}
	.seccion_imagen img {
		width: 750px;
		height: 100%;
	}
	.seccion_login .div_continput .div_input input {
		width: 320px;
	}
	.checkLogin {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.checkLogin #check {
		width: 20px;
	}
	.checkLogin label {
		font-family: var(--font-open);
		margin: 10px 10px 14px;
	}
	.isInvalid {
		border: 2px solid red;
	}
}
@media screen and (min-height: 761px) {
	.contenedor_login {
		width: 420px;
		bottom: 0;
		top: 0;
	}
}