/* celu: 320 - tablet: 760 - escritorio: 1024 */
/* Main Detalle Producto */
main.main-detalleproducto {
    max-width: 1024px;
    margin: 10px auto auto;
}

/* Detalle del Producto */
.contenedor-detalleproducto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.detalle-producto {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.detalle-producto .imagen-detalleproducto {
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    object-position: center;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.detalle-producto .imagen-detalleproducto img {
    height: 210px;
    width: 130px;
    object-fit: contain;
}
.detalle-producto .imagen-detalleproducto span.off {
	background: var(--orange);
	height: fit-content;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 8px;
	z-index: 5;
    color: #fff;
    font-size: 20px;
    border-radius: 0px 5px;
    font-family: var(--font-open);
}
.detalle-producto .detalle-detalleproducto {
    width: 100%;
    margin-top: 5px;
}
.detalle-producto .detalle-detalleproducto .detalle-nombreproducto h4 {
    font-size: 18px;
    font-family: sans-serif;
    color: var(--orange);
}
.detalle-producto .detalle-detalleproducto .detalle-nombreproducto h3 {
    font-size: 17px;
}
.detalle-detalleproducto .cantidad-detalleproducto {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 14px;
}
.detalle-detalleproducto .cantidad-detalleproducto .detalles-cantbotones {
    display: block
}
.detalle-detalleproducto .cantidad-detalleproducto .detalles-cantbotones input {
    background-color: white;
    color: var(--violet);
    border: 1px solid #ccc;   
    padding: 10px;
    width: 200px;
}
.detalle-detalleproducto .cantidad-detalleproducto .detalles-cantbotones button {
    padding: 10px;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
}
.detalle-detalleproducto .cantidad-detalleproducto input:nth-child(2n) {
    width: 50px;
    border: 1px solid #ccc;
    background-color: white;
}
.detalle-detalleproducto .boton-detalleproducto {
    width: 100%;;
    margin-top: 5px;
}
.detalle-detalleproducto .boton-detalleproducto button {
    padding: 12px 15px;
    background: var(--violet);
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
}
.detalle-detalleproducto .detalle-datosenvio{
    margin-top: 10px;
    font-family: sans-serif;
    display: flex;
}
.detalle-detalleproducto .detalle-datosenvio .detalle-mediospagos {
    width: 100%;
    height: 40px;
}
.mediospagos-inner {
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.mediospagos-back {
    width: 100%;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: space-around;
    background-color: var(--orange);
    border-radius: 5px;
}
.mediospagos-back img {
    width: 30px;
    height: 30px;
}
.mediospagos-front {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.detalle-mediospagos:hover .mediospagos-inner {
    transform: rotateY(180deg);
}
.detalle-mediospagos:hover .mediospagos-front {
    display: none;
    border-bottom: none;
}
.detalle-mediospagos:hover .mediospagos-back {
    display: flex;
    -webkit-transform: rotateY(180deg);
}
.detalle-detalleproducto .detalle-datosenvio .detalle-enviospais {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.detalle-detalleproducto .detalle-datosenvio .detalle-enviospais p {
    font-size: 15px;
    margin-left: 10px;
}
.detalle-detalleproducto .detalle-datosenvio .detalle-enviospais i {
    color: var(--orange);
}
.detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    display: none;
}
.detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio p {
    font-size: 12px;
    color: var(--violet);
}
/* Detalles del  Lugar */
.lugar-producto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: sans-serif;
}
.lugar-producto .detalle-lugarproducto {
    border-top: 1px solid #ccc;
    padding: 10px 15px 10px;
    font-size: 13px;
}

/* Especificaciones del Producto */
.especificaciones-producto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.especificaciones-producto .especificaciones {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px 10px;
    width: 70%;
}
.especificaciones-producto .especificaciones p {
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 2px;
}

.titleSlider-detail {
    padding: 10px 15px 10px;
}
.main-destacados {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1020px;
    margin: 30px auto; 
}
.main-destacados .destacados {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto 35px;
}
/* Medias Queries */
/* Tablet */
@media screen and (min-width: 760px) {
    /* Barra de Dirección */
    .barra-direccion {
        padding: 0 10px;
    }
    .barra-direccion a {
        font-size: 13px;
    }

    /* Detalle del Producto */
    .detalle-producto {
        width: 100%;
        align-items: left;
        justify-content: space-between;
    }
    .detalle-producto .imagen-detalleproducto {
        width: 30%;
        border-bottom: none;
        border-right: 1px solid #ccc;
    }
    .detalle-producto .imagen-detalleproducto img {
        height: 330px;
        border-right: none;
    }
    .detalle-producto .detalle-detalleproducto {
        width: 70%;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .detalle-producto .detalle-detalleproducto .detalle-nombreproducto {
        width: 100%;
    }
    .detalle-producto .detalle-detalleproducto .detalle-nombreproducto h4 {
        font-size: 24px;
    }
    .detalle-producto .detalle-detalleproducto .detalle-nombreproducto h3 {
        font-size: 24px;
        margin-top: 20px;
    }
    .detalle-detalleproducto .boton-detalleproducto {
        margin-top: 20px;
    }
    .detalle-detalleproducto .boton-detalleproducto input {
        width: 60%;
    }
    .detalle-detalleproducto .detalle-datosenvio{
        margin-top: 20px;
        width: 100%;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-mediospagos {
        width: 80%;
        height: 50px;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-enviospais {
        width: 45%;
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-enviospais p {
        font-size: 15px;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio {
        width: 45%;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio p {
        font-size: 15px;
    }
    /* Detalles del  Lugar */
    .lugar-producto .detalle-lugarproducto {
        width: 100%;
        font-size: 14px;
    }

    /* Especificaciones del Producto */
    .especificaciones-producto {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .especificaciones-producto .especificaciones {
        width: 85%;
    }
    .especificaciones-producto .especificaciones p {
        font-size: 14px;
    }
}

/* Escritorio */
@media screen and (min-width: 1024px) {
    /* Barra de Dirección */
    .barra-direccion a {
        font-size: 15px;
    }

    /* Detalle del Producto */
    .detalle-producto {
        width: 90%;
    }
    .detalle-producto .imagen-detalleproducto {
        width: 25%;
        height: 360px;
    }
    .detalle-producto .imagen-detalleproducto img {
        height: 360px;
    }
    .detalle-producto .detalle-detalleproducto {
        padding: 15px 0 15px;
    }
    .detalle-detalleproducto .boton-detalleproducto input {
        width: 40%;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-mediospagos {
        width: 33%;
        height: 50px;
    }
    .mediospagos-front {
        border-bottom: none;
        border-right: 1px solid #ccc;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-enviospais {
        width: 33%;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-enviospais p {
        font-size: 16px;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio {
        width: 33%;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio p {
        font-size: 16px;
    }
    /* Detalles del  Lugar */
    .lugar-producto .detalle-lugarproducto {
        font-size: 15px;
    }

    /* Especificaciones del Producto */
    .especificaciones-producto .especificaciones {
        width: 90%;
    }
    .especificaciones-producto .especificaciones p {
        font-size: 15px;
    }
}