/* celu: 320 - tablet: 760 - escritorio: 1024 */
/* Main Detalle Producto */
main.main-detalleproducto {
    max-width: 1440px;
    margin: 65px auto auto;
}

/* Barra de Dirección */
.barra-direccion {
    width: 100%;
    height: 20px;
    padding: 0 5px;
}
.barra-direccion a {
    font-size: 11px;
}

/* Detalle del Producto */
.contenedor-detalleproducto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.detalle-producto {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.detalle-producto .imagen-detalleproducto {
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}
.detalle-producto .imagen-detalleproducto img {
    height: 210px;
    width: 130px;
}
.detalle-producto .detalle-detalleproducto {
    width: 100%;
    margin-top: 5px;
}
.detalle-producto .detalle-detalleproducto .detalle-nombreproducto h4 {
    font-size: 18px;
    font-family: sans-serif;
    color: var(--orange);
}
.detalle-producto .detalle-detalleproducto .detalle-nombreproducto h3 {
    font-size: 17px;
}
.detalle-detalleproducto .cantidad-detalleproducto {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 14px;
}
.detalle-detalleproducto .cantidad-detalleproducto .detalles-cantbotones input {
    width: 20px;
    background-color: var(--violet);
    color: white;
    border: none;
    border-radius: 5px;
}
.detalle-detalleproducto .cantidad-detalleproducto input:nth-child(2n) {
    width: 50px;
    border: 1px solid #ccc;
    background-color: white;
}
.detalle-detalleproducto .boton-detalleproducto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.detalle-detalleproducto .boton-detalleproducto input {
    width: 65%;
    background-color: var(--violet);
    color: white;
    border: none;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.detalle-detalleproducto .detalle-datosenvio{
    margin-top: 10px;
    font-family: sans-serif;
}
.detalle-detalleproducto .detalle-datosenvio .detalle-mediospagos {
    width: 100%;
    height: 40px;
}
.mediospagos-inner {
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.mediospagos-back {
    width: 100%;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: space-around;
    background-color: var(--orange);
    border-radius: 5px;
}
.mediospagos-back img {
    width: 30px;
    height: 30px;
}
.mediospagos-front {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.detalle-mediospagos:hover .mediospagos-inner {
    transform: rotateY(180deg);
}
.detalle-mediospagos:hover .mediospagos-front {
    display: none;
    border-bottom: none;
}
.detalle-mediospagos:hover .mediospagos-back {
    display: flex;
    -webkit-transform: rotateY(180deg);
}
.detalle-detalleproducto .detalle-datosenvio .detalle-enviospais {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.detalle-detalleproducto .detalle-datosenvio .detalle-enviospais p {
    font-size: 15px;
    margin-left: 10px;
}
.detalle-detalleproducto .detalle-datosenvio .detalle-enviospais i {
    color: var(--orange);
}
.detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio p {
    font-size: 12px;
    color: var(--violet);
}
/* Detalles del  Lugar */
.lugar-producto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: sans-serif;
}
.lugar-producto .detalle-lugarproducto {
    border-top: 1px solid #ccc;
    padding: 10px 15px 10px;
    font-size: 13px;
}

/* Especificaciones del Producto */
.especificaciones-producto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.especificaciones-producto .especificaciones {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px 10px;
    width: 70%;
}
.especificaciones-producto .especificaciones p {
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 2px;
}

/* Medias Queries */
/* Tablet */
@media screen and (min-width: 760px) {
    /* Barra de Dirección */
    .barra-direccion {
        padding: 0 10px;
    }
    .barra-direccion a {
        font-size: 13px;
    }

    /* Detalle del Producto */
    .detalle-producto {
        width: 85%;
        align-items: left;
        justify-content: space-between;
    }
    .detalle-producto .imagen-detalleproducto {
        width: 25%;
        height: 230px;
        border-bottom: none;
        border-right: 1px solid #ccc;
    }
    .detalle-producto .imagen-detalleproducto img {
        height: 230px;
        width: 150px;
        border-right: none;
    }
    .detalle-producto .detalle-detalleproducto {
        width: 70%;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .detalle-producto .detalle-detalleproducto .detalle-nombreproducto {
        width: 47%;
        border-right: 1px solid #ccc;
    }
    .detalle-producto .detalle-detalleproducto .detalle-nombreproducto h4 {
        font-size: 20px;
    }
    .detalle-producto .detalle-detalleproducto .detalle-nombreproducto h3 {
        font-size: 18px;
    }
    .detalle-detalleproducto .cantidad-detalleproducto {
        width: 52%;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }
    .detalle-detalleproducto .cantidad-detalleproducto input:nth-child(2n) {
        width: 60px;
    }
    .detalle-detalleproducto .boton-detalleproducto {
        margin-top: 20px;
    }
    .detalle-detalleproducto .boton-detalleproducto input {
        width: 60%;
    }
    .detalle-detalleproducto .detalle-datosenvio{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-mediospagos {
        width: 80%;
        height: 50px;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-enviospais {
        width: 45%;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        border-right: 1px solid #ccc;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-enviospais p {
        font-size: 15px;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio {
        width: 45%;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio p {
        font-size: 15px;
    }
    /* Detalles del  Lugar */
    .lugar-producto .detalle-lugarproducto {
        width: 80%;
        font-size: 14px;
    }

    /* Especificaciones del Producto */
    .especificaciones-producto {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .especificaciones-producto .especificaciones {
        width: 85%;
    }
    .especificaciones-producto .especificaciones p {
        font-size: 14px;
    }
}

/* Escritorio */
@media screen and (min-width: 1024px) {
    /* Barra de Dirección */
    .barra-direccion a {
        font-size: 15px;
    }

    /* Detalle del Producto */
    .detalle-producto {
        width: 90%;
    }
    .detalle-producto .imagen-detalleproducto {
        width: 25%;
        height: 260px;
    }
    .detalle-producto .imagen-detalleproducto img {
        height: 260px;
        width: 170px;
    }
    .detalle-producto .detalle-detalleproducto .detalle-nombreproducto {
        width: 47%;
        border-right: 1px solid #ccc;
    }
    .detalle-producto .detalle-detalleproducto .detalle-nombreproducto h4 {
        font-size: 23px;
    }
    .detalle-producto .detalle-detalleproducto .detalle-nombreproducto h3 {
        font-size: 20px;
    }
    .detalle-detalleproducto .cantidad-detalleproducto {
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }
    .detalle-detalleproducto .cantidad-detalleproducto .detalles-cantbotones input {
        width: 30px;
        height: 30px;
    }
    .detalle-detalleproducto .cantidad-detalleproducto input:nth-child(2n) {
        width: 70px;
        height: 30px;
    }
    .detalle-detalleproducto .boton-detalleproducto input {
        width: 40%;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-mediospagos {
        width: 33%;
        height: 50px;
    }
    .mediospagos-front {
        border-bottom: none;
        border-right: 1px solid #ccc;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-enviospais {
        width: 33%;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-enviospais p {
        font-size: 16px;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio {
        width: 33%;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .detalle-detalleproducto .detalle-datosenvio .detalle-calculoenvio p {
        font-size: 16px;
    }
    /* Detalles del  Lugar */
    .lugar-producto .detalle-lugarproducto {
        font-size: 15px;
    }

    /* Especificaciones del Producto */
    .especificaciones-producto .especificaciones {
        width: 90%;
    }
    .especificaciones-producto .especificaciones p {
        font-size: 15px;
    }
}