main.register {
	max-width: 1440px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.title-register {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.tabla-register {
	min-width: 310px;
	margin: 0 auto 30px;
}
.tabla-register .config {
	display: flex;
	justify-content: space-between;
	margin-bottom: -10px;
}
.tabla-register .config button {
	background: none;
	border: none;
	color: var(--violet);
	display: flex;
	margin-top: 20px;
}
.tabla-register .tabla-datos {
	background: var(--violet);
	border-radius: 5px;
	color: #eee;
	padding: 13px 8px 10px;
}
.tabla-register .tabla-datos .column {
	margin-bottom: 15px;
}
.tabla-register .tabla-datos .column h3 {
	border-bottom: 2px dotted var(--orange);
	margin-bottom: 10px;
}
.tabla-register .config p {
	display: flex;
}
.tabla-register .config p button {
	padding: 0 12px;
	margin-top: 20px;
}

@media screen and (min-width: 600px){
.tabla-register {
	min-width: 550px;
	margin-bottom: 30px;
}

@media screen and (min-width: 720px){
.tabla-register {
	margin-bottom: 30px;
}
.tabla-datos {
	display: flex;
	text-align: center;
}
.tabla-datos .column {
	margin-bottom: 30px;
	width: 33%;
}
}

@media screen and (min-width: 900px){
.tabla-register .tabla-datos .column h3 {
	font-size: 16px;
}
}

@media screen and (min-width: 1440px){
.tabla-register .tabla-datos .column h3 {
	font-size: 20px;
}
}