
main.add form div .img {
	width: 150px;
	height: 200px;
	background: var(--orange);
	margin: 20px 0;
	cursor: pointer;
}
.detalles .nombre  {
	display: flex;
	width: 100%;
	gap: 10px;
}
.detalles .nombre div {
	display: flex;
	flex-direction: column;
}
.detalles .nombre div input {
	border: 2px solid var(--darkorange);
	border-radius: 5px;
	padding: 8px;
}
.detalles .nombre div select {
	border: 2px solid var(--darkorange);
	border-radius: 5px;
	padding: 8px;
}
.detalles .nombre div textarea {
	border: 2px solid var(--darkorange);
	border-radius: 5px;
	padding: 8px;
	max-height: 200px;
}
.detalles .nombre div:nth-child(1) {
	width: 50%;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.img-container {
    width: 100%;
    height: 200px;
    border: thin solid gray ;
    border-radius: 10px;
    text-align: center;
}