.sidebar {
	background: var(--orange);
	height: 100vh;
	position: sticky;
	top:0;
}
.position-sticky {
	position: sticky;
	top:0;

}

.admin {
	animation: appear 2.5s;
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}