.admin .titulos {
    border-bottom: 1px solid #ccc;
}
.admin .info {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.admin .producto-imagen img {
    height: 100px;
}
