<!DOCTYPE html>
<html>

	<%- include("../partials/headAdmin") %>
<body>
	
	<%- include("../partials/headerAdmin")%>

	<%- include("../partials/sidebarAdmin") %>

	<!-- Copiar este main para las demas listas de Admin -->
	<main class="admin container">
		<h2>Administrar Productos</h2>
		<div class="row titulos">
			<div class="col-sm-3">
				<span>Imagen</span>
			</div>
			<div class="col-sm-3">
				<span>Nombre</span>
			</div>
			<div class="col-sm-3">
				<span>Precio</span>
			</div>
			<div class="col-sm-3">
				<span>Acciones</span>
			</div>
		</div>

		<!-- Cierra el forEach -->
		<div class="row">
			<div class="col-sm-3 info producto-imagen">
				<img src="/img/productos/img1.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-sm-3 info">
				<span>Nombre</span>
			</div>
			<div class="col-sm-3 info">
				<span>Precio</span>
			</div>
			<div class="col-sm-3 info">
				<button class="btn btn-primary">Editar</button>
				<button class="btn btn-danger">Eliminar</button>
			</div>
		</div>
		<!-- Cierra el forEach -->
	</main>
</body>
</html>