<!DOCTYPE html>
<html>

	<%- include ("partials/head") %>
<body>
	<%- include ("partials/header") %>
	<%- include("partials/banner") %>

	<!--  Acerca de nosotros -->
	<main class="about">
		<div class="about-us">
			<img src="/img/icons/icon-title.png" alt="El baron de la cerveza">
			<p>El Barón de la cerveza es un plataforma de venta de bebidas alcohólicas al por mayor, dirigida los potenciales clientes que tengan la necesidad de abastecerse de diferentes tipos de cervezas. El barón de la cerveza le garantiza la mejor y más rápida atención, ya que los desarrolladores de la tienda online le dedican todo el amor y el esfuerzo para que su navegación sea fluida, rápida y elegante para su comodidad.</p>
		</div>
	</main>
	<!-- /Acerca de nosotros  -->

	<%- include ("partials/footer") %>
</body>
</html>