<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>
<body class="bodyContact">
	<!-- HEADER -->
	<%- include('partials/header.ejs') %>

	<div class="separador">
		<img src="/img/icons/icon-title.png" alt="">
	</div>

	<main class="contenedor_contacto">
		<div class="btn-divition">
			<div class="btn-open-card" onclick="openCard1()">
				<a>Enviar mensaje a Keila</a>
			</div>
			<div class="btn-open-card" onclick="openCard2()">
				<a>Enviar mensaje a Yonatan</a>
			</div>
		</div>	
			<section class="card card1 active" id="card1">
				<div class="info-card info">
					<h3>Keila</h3>
					<p>
						<i class="fas fa-phone"></i> <span>11 3936-6942</span>
					</p>
					<p>
						<i class="fas fa-envelope"></i> <span>email@email.com</span>
					</p>
					<p>
						<i class="fas fa-map-marker-alt"></i> <span>Av. Pasos de las vacas</span>
					</p>
				</div>
				<div class="info-card inputs">
					<form action="">
						<h3>Podes hablarme</h3>
						<input type="text" placeholder="Nombre">
						<input type="text" placeholder="Mail">
						<input type="text" placeholder="Asunto">
						<textarea name="" placeholder="Mensaje"></textarea>
						<button>Enviar</button>
					</form>
				</div>
			</section>
			<section class="card card2" id="card2">
				<div class="info-card info">
					<h3>Yonatan</h3>
					<p>
						<i class="fas fa-phone"></i> <span>11 3936-6942</span>
					</p>
					<p>
						<i class="fas fa-envelope"></i> <span>email@email.com</span>
					</p>
					<p>
						<i class="fas fa-map-marker-alt"></i> <span>Av. Dto Alvarez</span>
					</p>
				</div>
				<div class="info-card inputs">
					<form action="">
						<h3>Podes hablarme</h3>
						<input type="text" placeholder="Nombre">
						<input type="text" placeholder="Mail">
						<input type="text" placeholder="Asunto">
						<textarea name="" placeholder="Mensaje"></textarea>
						<button>Enviar</button>
					</form>
				</div>
			</section>
	</main>

	<!-- FOOTER -->
	<%- include('partials/footer') %>
	<script src="/js/cards-contact.js"></script>
</body>
</html>