<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>
<body class="contact">
	<!-- HEADER -->
	<%- include('partials/header.ejs') %>

	<div class="separador"></div>

	<main class="contenedor_contacto">
		<section class="logo_contacto">
			<div class="contenedordelcontenedor">
				<div class="logo_contimage">
					<img src="/img/icons/icon.png">
				</div>
	
				<div class="logo_contitulo">
					<h1> Contáctenos </h1>
				</div>
			</div>
		</section>

		<div class="separador"></div>

		<div class="contenedor_contcontacto">

			<!-- Contacto Yonatan Palacios -->
			<section id="rotador1" class="contenedor_infocontacto">
				<section class="info_contacto">
					<div class="icono">
						<i class="fas fa-phone"></i>
						<p>11 - 12329876</p>
					</div>
					<div class="icono">
						<i class="fas fa-envelope"></i>
						<p>contacto@gmail.com</p>
					</div>
					<div class="icono">
						<i class="fas fa-map-marker-alt"></i>
						<p>avenida pasos de las vacas 127 - San Miguel</p>
					</div>
				</section>

				<section class="form_contacto">
					<form>
						<input type="text" name="" placeholder="Ingrese Nombre">
						<input type="text" name="" placeholder="Ingrese Email">
						<input type="text" name="" placeholder="Ingrese Telefono (Opcional)">
						<input type="text" name="" placeholder="Ingrese Mensaje">
						<button>Enviar</button>
					</form>
				</section>
			</section>

			<!-- Contacto Keila Mantiñan -->
			<section id="rotador2" class="contenedor_infocontacto2">
				<section class="info_contacto2">
					<div class="icono2">
						<i class="fas fa-phone"></i>
						<p>11 - 12329876</p>
					</div>
					<div class="icono2">
						<i class="fas fa-envelope"></i>
						<p>contacto@gmail.com</p>
					</div>
					<div class="icono2">
						<i class="fas fa-map-marker-alt"></i>
						<p>avenida pasos de las vacas 127 - San Miguel</p>
					</div>
				</section>

				<section class="form_contacto2">
					<form>
						<input type="text" name="" placeholder="Ingrese Nombre">
						<input type="text" name="" placeholder="Ingrese Email">
						<input type="text" name="" placeholder="Ingrese Telefono (Opcional)">
						<input type="text" name="" placeholder="Ingrese Mensaje">
						<button>Enviar</button>
					</form>
				</section>
			</section>

			<div class="rotador_contacto1"><a href="#rotador1">Enviar Mensaje Yonatan Palacios</a></div>
			<div class="rotador_contacto2"><a href="#rotador2">Enviar Mensaje Keila Mantiñan</a></div>
		</div>
	</main>

	<!-- FOOTER -->
	<%- include('partials/footer') %>
</body>
</html>