<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head")  %> 
<body>
    <main class="error-container">
        <h1 class="error-titulo">Error 404</h1>
        <div class="error-imagen">
            <img src="/img/icons/error.png" alt="borrachin">
        </div>
        <p class="error-nav__item  center">No se pudo encontrar la pagina</p>
        <div class="error-nav">
            <p class="error-nav__item">Puede volver a:</p>
            <ul class="error-nav__nav">
                <li class="error-nav__item"><a href="/">Home</a></li>
                <li class="error-nav__item"><a href="/products">Productos</a></li>
                <li class="error-nav__item"><a href="/contact">Contacto</a></li>
            </ul>
        </div>
    </main>
</body>
</html>