<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body class="login">

<%- include('partials/header') %>
	
	<main class="login">
		<div class="banner-img">
			<img src="/img/icons/icon-title.png" alt="">
		</div>
		<div class="register-form" id="registerForm">
			<form action="">
				<h2>Registrarse</h2>
				<p>
					<input type="text" placeholder="Nombre">
				</p>
				<p>
					<input type="email" placeholder="email">
				</p>
				<p>
					<input type="text" placeholder="Contraseña">
				</p>
				<p>
					<input type="text" placeholder="Repetir contraseña">
				</p>
				<div>
					<input type="checkbox" id="check">
					<label for="check">Mantener la sesion abierta</label>
				</div>
				<button>Registrarse</button>
			</form>
			<div class="register">
				<button onclick="registerForm()">Ya tengo una cuenta</button>
			</div>
		</div>
		<div class="login-form">
			<form action="">
				<h2>Ingresar</h2>
				<p>
					<input type="text" placeholder="Nombre">
				</p>
				<p>
					<input type="text" placeholder="Contraseña">
				</p>
				<div>
					<input type="checkbox" id="check">
					<label for="check">Mantener la sesion abierta</label>
				</div>
				<button>Ingresar</button>
			</form>

			<div class="register">
				<button onclick="registerForm()">Todavia no tengo una cuenta</button>
			</div>
		</div>
	</main>
	<!-- /Cuerpo de Login -->

	<!-- FOOTER -->
		<%- include('partials/footer') %>
	<!-- /FOOTER -->

	

<script>
	function registerForm() {
		let register = document.getElementById('registerForm');
		register.classList.toggle('active');
	}
</script>

</body>
</html>