<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body class="login">

<%- include('partials/header') %>
	
	<main class="login">
		<div class="banner-img">
			<img src="/img/icons/icon-title.png" alt="">
		</div>
		<div class="register-form" id="registerForm">
			<form action="">
				<h2>Registrarse</h2>
				<p>
					<input type="text" placeholder="Nombre">
				</p>
				<p>
					<input type="email" placeholder="email">
				</p>
				<p>
					<input type="text" placeholder="Contraseña">
				</p>
				<p>
					<input type="text" placeholder="Repetir contraseña">
				</p>
				<div>
					<input type="checkbox" id="check">
					<label for="check">Mantener la sesion abierta</label>
				</div>
				<button>Registrarse</button>
			</form>
			<div class="register">
				<a href="/users/login">Ya tengo una cuenta</a>
			</div>
		</div>
	</main>		

<%- include('partials/footer') %>

	


</body>
</html>