<!DOCTYPE html>
<html lang="es">

<%- include ("partials/head") %>

<body>

	<%- include ("partials/header") %>

	<%- include("partials/banner")  %>


	<main class="config">
	<!-- Barra de Direccion -->
    <div class="barra-direccion">
        <a href="/">Home</a>
        /
        <a href="/config">Configuración</a>
    </div>
		<div class="title-config">
			<h2>Bienvenido, Nombre usuario</h2>
		</div>
	<!-- Detalles de usuario -->
		<section class="tabla-config">
			<div class="config">
				<h2>Usuario</h2>
				
				<button class="editar">Editar<i class="fas fa-pen"></i></button>
			</div>
			<div class="tabla-datos">
				<div class="column">
					<h3>Nombre</h3>
					<span>Jonatan</span>
				</div>

				<div class="column">
					<h3>Email</h3>
					<span>email@email.com</span>
				</div>

				<div class="column">
					<h3>Contraseña</h3>
					<span>*************</span>
				</div>
			</div>	
		</section>
		<!-- /Detalles de usuario -->

		<!-- Historila de compras -->
		<section class="tabla-config">
			<div class="config">
				<h2>Historial</h2>
				<p>
					<button class="imprimir editar">imprimir</button>
					<button class="editar">limpiar<i class="fas fa-trash"></i></button>
				</p>
			</div>
			<div class="tabla-datos">
				<div class="column">
					<h3>Producto</h3>
					<span>Detalles del producto</span>
				</div>

				<div class="column">
					<h3>Cantidad</h3>
					<span>1</span>
				</div>

				<div class="column">
					<h3>Fecha del pedido</h3>
					<span>00/00/00</span>
				</div>

				<div class="column">
					<h3>Direccion de envio</h3>
					<span>nombre de la calle, 123. Localidad</span>
				</div>
			</div>	
		</section>
		<!-- /Historila de compras -->
	</main>
	<!-- FOOTER -->
	<%- include("partials/footer")  %> 
	<!-- /FOOTER -->
</body>
</html>